
section{
	margin: 10px;
}

.caja{
	width: 100px;
	height: 100px;
	background-color: silver;
	border: solid thin grey;
	display: inline-block;
	margin-right: 15px;

}

#tres-cajas{
	background-color: silver;
	border: solid thin grey;
	display: inline-block;
}

#tres-cajas .caja{
	margin-top: 15px;
	margin-bottom: 15px;
}

#tres-cajas .caja:first-child{
	margin-left: 15px;
}

#ult-caja, #prim-caja{
	margin-top: 20px;
}

