*{
	margin:0;
	padding: 0;
	font-family: "Century Gothic";
	font-size: 24px;
}

section#uno, section#tres{
	width: 240px;
	height: 100px;
	background-color: yellow;
	text-align: left;
	padding: 15px 0px 0px 5px;
}

section#dos{
	width: 240px;
	height: 100px;
	background-color: crimson;
	text-align: left;
	padding: 15px 0px 0px 5px;
}

section#tres{
	text-transform: uppercase;
}

section{
	margin:20px;
}
